# get autor names

In [1]:
from bs4 import BeautifulSoup

In [2]:
test = '<li><a href="/wiki/Thomas_Abbt" title="Thomas Abbt">Thomas Abbt</a> (1738–1766)</li>'

In [3]:
soup = BeautifulSoup(test, 'html.parser')

In [4]:
text = soup.li.text

In [5]:
import re

In [6]:
re.findall("\d+", text)

['1738', '1766']

In [8]:
from pywebcopy import save_webpage

In [9]:
base_url = "https://de.wikipedia.org/wiki/Liste_deutschsprachiger_Schriftsteller/"
pages = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "Z"]

In [24]:
# for page in pages:
#     url=base_url+page
#     download_folder="src/pages/"
    
#     kwargs = {'bypass_robots': True, 'project_name': 'corpus_diss', 'open_in_browser': False}
    
#     save_webpage(url, download_folder, **kwargs)

In [58]:
test="Thomas Abbt (1738–1766)"
bla=test.split("(")[1].split("–")[1]
re.findall("\d+", bla)

['1766']

In [59]:
import os

path_to_pages="src/pages/"
name=[]
birth_year=[]
death_year=[]

for file in os.listdir(path_to_pages):
    with open(path_to_pages + file, encoding="utf8") as f:
        page = f.read()
        
    soup = BeautifulSoup(page, 'html.parser')
    list_elements = soup.find_all("li")
    
    for list_element in list_elements:
        author_entry = list_element.text
        
        if len(re.findall("\d+", author_entry))==2:
            if (int(re.findall("\d+", author_entry)[0]) >= 1720) & (int(re.findall("\d+", author_entry)[0]) <= 1900):
                entries = author_entry.split("(")
                name.append(entries[0])
                if re.findall("\d+", entries[1]):
                    years = entries[1].split("–")
                    birth_year.append(years[0])
                    
                    dy=re.findall("\d+", years[1])[0]
                    death_year.append(dy)
                else:
                    if re.findall("\d+", entries[2]):
                        years = entries[2].split("–")
                        birth_year.append(years[0])
                        
                        dy=re.findall("\d+", years[1])[0]
                        death_year.append(dy)
                    
                # birth_year.append(entries[1].split("–")[0])
                # if bool(entries[1].split("–")[1]):
                #     death_year.append(entries[1].split("–")[1])
                # else:
                #     death_year.append("NaN")

In [60]:
import pandas as pd

df = pd.DataFrame()
df["Name"]=name
df["birth"]=birth_year
df["death"]=death_year

In [62]:
df.head()

                                       Name birth death
0                              Thomas Abbt   1738  1766
1  Bernhard Abeken, Pseudonym Ernst Andolt   1826  1901
2                           Hans Karl Abel   1876  1951
3                 Franz Heinrich Achermann   1881  1946
4                        Arthur Achleitner   1858  1927

In [63]:
df.to_csv("src/Autorenliste_wikipedia.csv", encoding="utf8", sep=",", index="false")